@import "compass/reset";
@import "compass/css3";


/*Mixins*/
@mixin property ($value){
    -moz-transition-property: $value;
    -o-transition-property: $value;
    -webkit-transition-property: $value;
    transition-property: $value;
}

@mixin delay ($value){
    -moz-transition-delay: $value;
    -o-transition-delay: $value;
    -webkit-transition-delay: $value;
    transition-delay: $value;
}

@mixin duration ($value){
    -moz-transition-duration: $value;
    -o-transition-duration: $value;
    -webkit-transition-duration: $value;
    transition-duration: $value;
}
@mixin timing-function ($value) {
    -moz-transition-timing-function: $value;
    -o-transition-timing-function: $value;
    -webkit-transition-timing-function: $value;
    transition-timing-function: $value;
}

.btn {
    @include property(padding);
    @include delay(0ms);
    @include duration(3000ms);
    @include timing-function(linear);

    &:first-child{
        margin-top: 5em;
    }
    &.ease-in {
        @include timing-function(ease-in);
    }

    &.ease-out {
        @include timing-function(ease-out);
    }

    &.ease-in-out {
        @include timing-function(ease-in-out);
    }

    &.green {
        @include property(all);

    }

    &.animation {
        position: absolute;
        left: 0;
        top:0;
        right: auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}

@keyframes myanimation2 {
    0% {left: 0; top: 0; right: auto; bottom: auto;}
    25% {left: auto; top: 0; right: 0; bottom: auto;}
    50% {left: auto; top: auto; right: 0; bottom: 0;}
    75% {left: 0; top: auto; right: auto; bottom: 0;}
    100% {left: 0; top: 0; right: auto; bottom: auto;}

}

.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}